.Feature-Section-Cards {
  transform: translate(0px, 75px);
}

@media only screen and (max-width: 1200px) {
    .Feature-Section-Cards {
        transform: unset;
        transform: translate(0px, 55px);
      }
}

@media only screen and (max-width: 992px) {
  .Feature-Section-Texts h3 {
    text-align: center !important;
    padding-top: 100px !important;
  }

  .Feature-Section-Texts p {
    text-align: center !important;
    padding-bottom: 50px !important;
  }
}
