.Feature-Card {
  width: 201px;
  height: 201px;
  float: right;
  background: #282a2c;
  box-shadow: inset 0px -15px 50px rgba(45, 45, 45, 0.16);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top: 0.5px solid #fff;
  border-left: 0.5px solid #fff;
  transition: all ease 0.3s !important;
}

.Feature-Card:hover {
    padding-bottom: 10px !important;
}

.Feature-Card img {
    width: 80px;
    height: 80px;
}

@media only screen and (max-width: 1200px) {
    .Feature-Card {
        margin-left: 0px !important;
        margin-bottom: 3px !important;
    }
}

@media only screen and (max-width: 992px) {
    .Feature-Card {
        width: 45%;
    }
}

@media only screen and (max-width: 510px) {
    .Feature-Card {
        width: 100%;
        margin-right: unset !important;
        margin-bottom: 5px !important;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(45deg);
    }
}