@media only screen and (max-width: 992px) {
    .nav-item {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-nav {
        padding-right: unset;
    }
}