@import "../mixin";

@media only screen and (max-width: 992px) {
  .navbar-nav {
    text-align: center;
  }
}

.nav-link {
  @include buttonHover;
  border-radius: 10px;
}

.nav-link:hover {
  background-image: linear-gradient(to bottom right, #b751fd, #6244d3);

}

.logo{
  transition: all .4s ease-in-out;
  &:hover{
    transform: scale(1.2);
  }
}